fastapi
uvicorn[standard]

sqlalchemy>=2.0
psycopg[binary]>=3.2

pydantic>=2.0
pydantic-settings>=2.0

python-dotenv

# Auth
passlib[bcrypt]>=1.7
python-jose[cryptography]>=3.3

# Migrations
alembic>=1.13

# AI
langchain
langchain-google-genai